page-approvals {
    .titleji {
        margin-left: 60px;
    }
    .button1 {
        padding: 50px;
        color: black;
        font-size: 15px;
        border-radius: 10px;
    }
    .button2 {
        padding: 50px;
        color: black;
        font-size: 15px;
        border-radius: 10px;
    }
}